{
  "ssh": {
    "user": "username",
    "host": "some.host.com",
    "path": "pathToTorrents"
  },
  "transmission": {
    "rpcUrl": "http://some.host.com:41416/transmission/rpc",
    "user": "username",
    "password": "password",
    "deleteAfterCompleted": true
  },
  "destination": "/Movies/",
  "pushOver": { //Optional
    "apiKey": "lsklskdlskd",
    "users": ["lsklkslfskf"]
  }
  "serverPort": 8080
}